  <div class="container">
    <div class="text-center">
      <div class="jumbotron">
        <h1>My pets</h1>
        <p>The simple site for showing pets you have ever had.</p>
      </div>

      <blockquote class="blockquote-reverse">
        <p>If having a soul means being able to feel love and loyalty and gratitude, then animals are better off than a lot of humans.</p>
        <footer>James Herriot</footer>
      </blockquote>
    </div>
  </div>
